<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" style="background: #FF5B00; height: 117.6px;">
  <div fxHide fxShow.xs="true" fxLayout="column" fxLayoutAlign="center center" style="color: white; font-family: Sans-serif; font-size: 12.96px; text-align: center; width: 100%;">
    Copyright © 2024 KRUGER CORP,<br>
    Todos los derechos reservados.
  </div>
  <div fxHide.xs fxShow="true" fxLayout="row" fxLayoutAlign="center center" style="color: white; font-family: Sans-serif; font-size: 12.96px; text-align: center; width: 100%;">
    Copyright © 2024 KRUGER CORP, Todos los derechos reservados.
  </div>
</div>
