<div fxLayout="column" class="container">
  <div class="button-container" *ngIf="backButton" fxLayout="row" fxLayoutAlign="center"  >
    <button class="button" (click)="goBack()">Atrás</button>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
    <div class="left-images" fxLayout="column" fxLayout.xs="row">
      <img src="assets/images/lado-4/1.jpg" alt="Imagen 1" (click)="expandImage($event)">
      <img src="assets/images/lado-4/2.jpg" alt="Imagen 2" (click)="expandImage($event)">
    </div>
    <div class="video" fxLayout="column" fxLayout.xs="row" fxLayoutAlign="center">
      <!-- Aquí puedes colocar tu reproductor de vídeo -->
      <!-- Puedes ajustar el tamaño del reproductor según tus necesidades -->
      <div fxLayoutAlign="center">
        <video width="600" height="400" autoplay>
          <source src="https://krugercorp.com/lado4.mp4" type="video/mp4">
          Tu navegador no admite la reproducción de video.
        </video>
      </div>
    </div>
    <div class="right-images" fxLayout="column" fxLayout.xs="row">
      <img src="assets/images/lado-4/3.jpg" alt="Imagen 3" (click)="expandImage($event)">
      <img src="assets/images/lado-4/4.jpg" alt="Imagen 4" (click)="expandImage($event)">
    </div>
  </div>
  <!-- Contenedor adicional para la imagen expandida -->
  <div class="expanded-image-container" *ngIf="expandedImage" fxLayout="column" fxLayoutAlign="center center">
    <button class="close-button" (click)="closeImage()">✕</button>
    <img [src]="expandedImageSrc" alt="Imagen expandida" class="expanded-image">
  </div>
</div>
