/* Estilos generales para el contenedor */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 97vh; /* Asegura que el contenedor ocupe toda la altura del viewport */
  overflow: hidden;
  box-sizing: border-box; /* Incluye el padding en el tamaño total del contenedor */
}

.left-images,
.right-images {
  display: flex;
  flex-direction: column;
}

.left-images img,
.right-images img {
  max-width: 20em; /* Ajusta el tamaño según tus necesidades */
  margin-bottom: 10px; /* Espacio entre las imágenes */
  cursor: pointer; /* Cursor de puntero para indicar que es clicable */
  transition: transform 0.3s ease; /* Transición suave para la expansión */
}

.video {
  padding: 10px; /* Espacio interno opcional */
}

.button-container {
  margin-top: 10px; /* Ajusta el margen superior según sea necesario */
  margin-bottom: 10px; /* Ajusta el margen inferior según sea necesario */
}

.button {
  background-color: #fc4900;
  color: white;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 25px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:focus {
  outline: none;
}

.button:hover {
  background-color: #e58800;
}

.expanded-image-container {
  position: absolute; /* Posiciona la imagen expandida sobre el contenedor */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro para destacar la imagen */
}

.expanded-image {
  max-width: 90%; /* Ajusta el tamaño máximo de la imagen */
  max-height: 90%; /* Ajusta el tamaño máximo de la imagen */
}

.close-button {
  position: absolute;
  top: 10px; /* Ajusta la distancia desde la parte superior según sea necesario */
  right: 10px; /* Ajusta la distancia desde la derecha según sea necesario */
  background: transparent;
  border: none;
  cursor: pointer;
  color: white; /* Color del icono */
  font-size: 24px; /* Tamaño del icono */
}

.animacion {
  width: 60%;
}

/* Media queries para hacer el diseño responsive */
@media (max-width: 768px) {

  .video {
    margin: 20px 0;
  }

  .left-images, .right-images {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .left-images img, .right-images img {
    max-width: 25%;
    margin: 5px;
  }
}

@media (max-width: 480px) {
  .button {
    padding: 8px 16px;
  }

  .left-images img, .right-images img {
    max-width: 25%;
  }

  .video img {
    width: 100%;
    padding: 0;
  }
}
