<div fxLayout="column" class="container">
  <div class="button-container" *ngIf="backButton" fxLayout="row" fxLayoutAlign="center"  >
    <button class="button" (click)="goBack()">Atrás</button>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
    <div class="left-images" fxLayout="column" fxLayout.xs="row">
      <img *ngFor="let img of imageUrls.slice(24, 26)" [src]="img" (click)="expandImage($event)" loading="lazy" alt="Imagen" class="hover-scale">
    </div>
    <div class="video" fxLayout="column" fxLayout.xs="row" fxLayoutAlign="center">
      <!-- Aquí puedes colocar tu reproductor de vídeo -->
      <!-- Puedes ajustar el tamaño del reproductor según tus necesidades -->
      <div fxLayoutAlign="center">
        <video #videoPlayer class="video-autoplay" (ended)="videoEnded($event)" autoplay preload="auto">
          <source src="{{ videoService.getVideoUrls()[5] }}" type="video/mp4">
          Tu navegador no admite la reproducción de video.
        </video>
      </div>
    </div>
    <div class="right-images" fxLayout="column" fxLayout.xs="row">
      <img *ngFor="let img of imageUrls.slice(26, 28)" [src]="img" (click)="expandImage($event)" loading="lazy" alt="Imagen" class="hover-scale">
    </div>
  </div>
  <!-- Contenedor adicional para la imagen expandida -->
  <div class="expanded-image-container" *ngIf="expandedImage" fxLayout="column" fxLayoutAlign="center center">
    <button class="close-button" (click)="closeImage()">✕</button>
    <img [src]="expandedImageSrc" alt="Imagen expandida" class="expanded-image">
  </div>
</div>

<app-footer></app-footer>
