<div class="scene">
  <div class="cube-container">
    <div class="cube" [style.transform]="'rotateX(' + totalRotateX + 'deg) rotateY(' + totalRotateY + 'deg)'">
      <div id="lado1" class="face front" [style.transform]="'rotateY(0deg) translateZ(' + getTranslateZ() + 'px)'"></div>
      <div id="lado2" class="face right" [style.transform]="'rotateY(90deg) translateZ(' + getTranslateZ() + 'px)'"></div>
      <div id="lado3" class="face back" [style.transform]="'rotateY(180deg) translateZ(' + getTranslateZ() + 'px)'"></div>
      <div id="lado4" class="face left" [style.transform]="'rotateY(-90deg) translateZ(' + getTranslateZ() + 'px)'"></div>
      <div id="lado5" class="face top" [style.transform]="'rotateX(90deg) translateZ(' + getTranslateZ() + 'px)'"></div>
      <div id="lado6" class="face bottom" [style.transform]="'rotateX(-90deg) translateZ(' + getTranslateZ() + 'px)'"></div>
    </div>
  </div>
</div>
